In [21]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

print(sampleDict["class"]["student"]["marks"]["history"])

80

In [16]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

print(sample_dict["name"],sample_dict["salary"])

Kelly 8000

In [11]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
sample_dict.pop("name")
sample_dict.pop("salary")
print(sample_dict)

{'age': 25, 'city': 'New york'}